[user]
	name = Thomas Smith
	email = tnsmith@live.nl
	signingkey = CFD72669
[push]
	default = simple
[core]
	editor = nano
[commit]
	gpgsign = true
[gpg]
	program = gpg2
# [url "https://github"]
# 	insteadOf = git://github
# [url "https://github.com/"]
#   insteadOf = git@github.com:
[diff]
    tool = vs-code
[difftool "vs-code"]
    cmd = code --wait --diff $LOCAL $REMOTE